.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(blue, grey);
  font-size: 2rem;
  font-family: sans-serif;
  animation: gradient 5s ease .7s;
  animation-fill-mode: backwards;
  color: #fff;
}

html {
  animation: loader 5s ease .7s;
  animation-fill-mode: backwards;
}

@keyframes loader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes gradient {
	0% {
		background: linear-gradient(grey, blue);
	}
	100% {
		background: linear-gradient(blue, grey);
	}
}
